BasedOnStyle: LLVM
BreakBeforeBraces: Linux
ColumnLimit: 80
IndentWidth: 4
Cpp11BracedListStyle: false
AlignArrayOfStructures: Left
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None