# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.so
*.so.*
*.dylib
*.dll

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Build directories
build/
bin/
out/
cmake-build-*/

# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/

# Autotools
Makefile.in
/aclocal.m4
/autom4te.cache/
/configure
/build-aux/
autoscan.log
autoscan-*.log
config.log
config.status
libtool
stamp-h1

# Editor/IDE
.vs/
.vscode/
.idea/
*.swp
*~

# OS
.DS_Store
Thumbs.db
